/* GENERAL SITEWIDE STYLING */

html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#home {
    width: 100%;
    height: 100%;
    background-color:#F2DABD;
    animation-name: bgx;
    animation-duration: 4s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    opacity: 0;
    padding: 0em;
    margin: 0;
}

@keyframes bgx {
    0% { opacity: 0; }
	100% { opacity: 1; }
}

#gallery {
    margin: 0;
    padding: 0;
}

/*#gallery .extra1, #contact .extra1, #about .extra1 {
    width: 100%;
    height: 8em;
}*/

body#about, body#contact, body#gallery {
    background-image: url(letter_images/stripes11.png);
    background-color: #F2DABD;
    /*background-image: linear-gradient(180deg, #F2DABD,#377D8C 15%, #F2DABD 20%, #FFA46C 30%, #F2DABD 40%,#F2DABD 50%,#377D8C 60%, #F2DABD 70%, #FFA46C 80%, #F2DABD 90% );*/
    padding: 0;
    margin-left: 0;
    margin-bottom: 0;
    width: 100%;
}

/*#bg {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 50%;
    height: 100%;
    z-index: 0;
    animation-name: colorx;
    animation-duration: 4s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    opacity: 0;
    margin: 0;
    padding: 0;
}*/

/*@keyframes colorx {
    0% { opacity: 0; }
	100% { opacity: 1; }
}*/

/* NAVIGATION */

header nav {
    width: 512px;
    position: absolute;
    top: .25em;
    left: 22em;
    z-index: 505;
    padding: 0em 0em 0em 0;
    
} 

nav ul {
    margin-top: 1em;
    border-top: 5px solid #BFA288;
    border-bottom: 5px solid #BFA288;
    padding-top: .25em;
    padding-bottom: .25em;
    position: relative;
    padding-left: 0;
    padding-right: 0;
    width: 520px;
}

nav ul li.about {
    margin-left: 1.8em;
}

nav a {
    text-decoration: none;
    z-index: 1000;
    
}

nav a:link, nav a:visited {
    color: black;
}

nav a:hover {
    color: #666666;
    text-shadow: -1px 0 #333333, 0 1px #333333, 1px 0 #333333, 0 -1px #333333;
}

nav ul li {
    display: inline;
    font-size: 2em;
    margin-right: 1em;
    margin-left: 1em;
    font-family: Optima, Arsenal, "Gill Sans" sans-serif;
    
}

h1#logo a {
    position: absolute;
    top: 0.25em;
    left: 1em;
    background-image: url(letter_images/logo_djcdesign.png);
    background-size:contain;
    background-repeat:no-repeat;
    z-index: 3000;
    width: 314px;
    height: 78px;
    text-indent: -3000em;
}

.homelink  {
    display: block;
    font-size: 2em;
    
}

#homewrapper {
    margin-top: 0em;
    width: 100%;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
}

.wrapper {
    /*left: 10%;
    right: 10%;
    top: -2em;
    position: absolute;*/
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: ghostwhite;
    margin-top: 6.2em;
    padding: 0em 0em 2em 0em;
    box-shadow: 8px 18px 15px 8px rgb(47, 79, 79, .36);
    margin-bottom: 0;
}

h1 {
    padding-top: 0em;
    text-indent: -3000em;
}

.binitials {
    font-style:italic;
    padding-top: 0em;
    font-family: serif;
    margin-right: .25em;
    font-size: 1.3em;
    /*-webkit-text-stroke: 1.5px darkslategray;*/
    -webkit-text-stroke: .8px darkslategray;
    color: transparent;
    text-shadow: 0px 4px rgb(47, 79, 79, .36);
    /*color:darkslategray;
    text-shadow: 0px 4px 3.5px rgb(47, 79, 79, .36);*/ 
   
    
}

h1 span.design {
    padding-top: 0em;
    font-style: italic;
    font-family: serif;
    letter-spacing: 1px;
    font-size: .8em;
    display: inline-block;
    -webkit-text-stroke: .8px darkslategray;
    color: transparent;
    text-shadow: 0px 2px rgb(47, 79, 79, .33);  
    z-index: 2000;
   
    
}

#home h2 {
    position: relative;
    width: 350px;
    font-family: Optima, Arsenal, "Gill Sans", sans-serif;
    left: 3em;
    top: 9em;
    font-size: 1.5em;
    color: #f2dabd;
    z-index: 200;
    animation-name: slogapp;
    animation-duration: 1.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    opacity: 0;
    z-index: 510;
    padding: 0;
}

@keyframes slogapp {
    0% { opacity: 0; }
	100% { opacity: 1; }
}

span.slogan {
    position: absolute;
    top: 0;
    left: 10em;
}

/*#letterbox {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}*/

#centerbox {
    width: 1200px;
    margin-left:auto;
    margin-right:auto;
    position: relative;
    padding: 0;
}

#c {
    width: 70.5%;
    position: absolute;
    top: -3em;
    left: 2.8em;
    z-index: 50;
    animation-name: capp;
    animation-duration: 1.5s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    opacity: 0;
    z-index: 500;
    padding: 0;
}

#ct {
    width: 70.5%;
    position: absolute;
    top: -1.8em;
    left: 1em;
    animation-name: capp;
    animation-duration: 1.5s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    opacity: 0;
    padding: 0;
    
}

@keyframes capp {
    0% { opacity: 0; }
	100% { opacity: 1; }
}

#d { 
    width: 18%;
    position:absolute;
    top: 14em;
    left: 19.8em;
    z-index: 50;
    animation-name: dapp;
    animation-duration: 1.5s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    opacity: 0;
    z-index: 150;
    padding: 0;
}

@keyframes dapp {
    0% { opacity: 0; }
	100% { opacity: 1; }
}

#dt {
    width: 30%;
    position:absolute;
    top: 7em;
    left: 11.8em;
    animation-name: westward1;
    animation-duration: 1.5s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    z-index: 105;
    border-top-right-radius: 50%;
    padding: 0;
    opacity: 0;
}

@keyframes westward1 {
    0% { opacity: 0; }
	100% { opacity: 1; }
}

#j {
    width: 10%;
    position:absolute;
    top: 15em;
    left: 36.5em;
    z-index: 50;
    animation-name: japp;
    animation-duration: 1.5s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    opacity: 0;
    z-index: 500;
    padding: 0;
}

@keyframes japp {
    0% { opacity: 0; }
	100% { opacity: 1; }
}
#jt {
    width: 30%;
    position: absolute;
    top: 14em;
    left: 23em;
    z-index: -3;
    margin-bottom: 0;
    animation-name: northward1;
    animation-duration: 1.5s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    z-index: 110;
    opacity: 0;
    border-bottom-right-radius: 50%;
    padding: 0;
}

@keyframes northward1 {
    0% { opacity: 0; }
	100% { opacity: 0.64; }
}

#e {
    width: 24%;
    position:absolute;
    top: 16em;
    left: 52.2em;
    z-index: 10;
    animation-name: eapp;
    animation-duration: 1.5s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    opacity: 0;
    z-index: 500;
    padding: 0;
}

@keyframes eapp {
    0% { opacity: 0; }
	100% { opacity: 1; }
}

#et {
    width: 28%;
    position:absolute;
    top: 8.7em;
    left: 50.4em;
    animation-name: eastward1;
    animation-duration: 1.5s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    border-top-left-radius: 50%;
    padding: 0;
    opacity: 0;
}

@keyframes eastward1 {
    0% { opacity: 0; }
	100% { opacity: 1; }
}

#home #dblug {
    
    min-width: 57.8%;
    height: 250px;
    background-color: #377D8C;
    position: absolute;
    top: 6em;
    left: -.8em;
    opacity: 0;
    z-index: -1;
    animation-name: eastward2;
    animation-duration: 1.5s;
    animation-delay: .5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    z-index:100;
    border-top-left-radius: 25%;
    padding: 0;
    
    
}

@keyframes eastward2 {
    0% { opacity: 0; }
	100% { opacity: 0.64; }
}

 #lblug_t {
     width: 25%;
     height: 960px;
     position: absolute;
     left: 41em;
     top: -20em;
     opacity: 0;
     animation-name: southward1;
     animation-duration: 1.5s;
     animation-delay: 1s;
     animation-fill-mode: forwards;
     animation-iteration-count: 1;
     animation-timing-function: ease-in-out;
     z-index: 199;
     padding: 0;
     border-bottom-right-radius: 50%;
     
 }
 
 @keyframes southward1 {
    0% { opacity: 0; }
	100% { opacity: 0.75; }
 }


 #about img#htmlvista {
     
     width: 100%;
     height: 150px;
     margin-top: 1em;
     z-index: 1000; 
     border-bottom: 5px solid black;   
 }

 #wireframe {
     margin-top: 1em;
     margin-bottom: 1em;
     
 }

 #wp {
     margin-top: 1em;
     
 }

 .sectiontopics {
     width: 94%;
     margin-left: auto;
     margin-right: auto;
     border-radius: 15px;
     border: 1px solid black;
     margin-bottom: 1em;
 }

 .headline {
     width: 100%;
     background-color: rgb(47, 79, 79, 1);
     padding: 0;
     margin: 0;
     /*border-bottom: 5px solid darkslategray;*/
 }

 .headline h2 {
    margin-top: 0;
    padding-top: 1em;
    font-size: 3em;
    padding-bottom: 1em;
    
    width: 100%;
    z-index: 2000;
    color: #fff;
    
}

 #about #gallery #zen #zenimg {
     width: 448px;
     height: 490px;
     padding: 0em;
     border: 5px solid ghostwhite;
     margin-left: 10%;
     margin-top: 2em;
     
 }

 #zen {
     background-color:#56A6A6;
     display: block;
     width: 100%;
     height: 560px;
     margin-top: 8em;
     
 }

 #about #gallery #travelwiz #travelwizimg {
    width: 602px;
    height: 306.5px;
    margin-top: 3em;
    margin-left: 3em;
    border: 5px solid ghostwhite;
    padding-bottom: 0;
    margin-bottom: 0;
}


#travelwiz {
    position: absolute;
    left: 50%;
    top: 20em;
    width: 702px;
    height: 40%;
    background-color:black;
    z-index: 1000;
}

#about #gallery #scifi #scifiimg {
    width: 400px;
    height: 300px;
    margin-top: 0em;
}

#scifi {
    width: 500px;
    height: 400px;
    background-color: ghostwhite;

}

#scifiimg {
   padding: 3em;
}

.intro {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1000;
    font-size: 1.8em;
    
}

.introcolumns {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    columns: 2 250px;
    column-gap: 100px;
    column-fill:balance;
    font-size: 1.6em;
    margin-bottom: 1em;

}

.introtopics img {
    max-width: 100%;
    height: auto;
}

#svelte {
    border: 1px solid black;
    
}

.adcontainer {
    width: 100%;
    padding: 0;
    margin-left: 1em;
    
}

.siteblurb {
    font-size: 1em;
    max-width: 500px;
    margin-left: 0em;
}

.galleryimg {
    margin-left: 0em;
}

#ad2 {
    
    float: none;
    margin-bottom: 2.5em;
}

#ad5 {
    margin-bottom: 2em;
    
}

.siterow, .siterow2 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2em;
    padding-right: 1.5em;
}


.adcontainer p {
   
    font-size: 1.8em;
    width: 90%;
    margin-right: 0;
}

.adcontainer img#css3 {
    float: left;
    padding-left: 8em;
    padding-right: 1em;
}

.adcontainer img#js {
    float: left;
    padding-left: 8em;
    padding-right: 1em;
}

.billboard1 {
    width: 80%;
    font-size: 1.8em;
    margin-left: auto;
    margin-right: auto;
   
}

.billboard2 {
    width: 80%;
    clear: both;
    font-size: 1.8em;
    margin-left: auto;
    margin-right: auto;
}

#about h2, #gallery h2, #contact h2 {
    font-size: 3em;
    width: 4em;
    margin-left: auto;
    margin-right: auto;
    font-family: Optima, Arsenal, "Gill Sans", sans-serif;
}

#gallery img {
    border: 3px solid darkslategray;
    border-radius: 15px;
}

#contact fieldset {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 8px solid darkslategray;
    margin-top: 0em;
    margin-bottom: 1em;
    border-radius: 25px;
    padding: 2em;
}

#contact form {
    margin-bottom: 3em;
}

fieldset legend {
    font-family: Optima, Arsenal, "Gill Sans", sans-serif;
    font-size: 2em;
    padding: .5em;
    border: 3px solid darkslategray;
    color: darkslategray;
    border-radius: 25px;
}

fieldset input[type=text] {
    min-width: 50%;
    margin-top: 0em;
    margin-right: auto;
    margin-left: 1em;
    border-radius: 25px;
    height: 5em;
    border: 1px solid darkslategray;
    font-size: 1em;
    padding-left: 1em;
}

#nameinput {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

fieldset input[type=email], fieldset input[type=phone] {
    min-width: 32%;
    margin-top: 1.5em;
    margin-right: 2.25em;
    margin-left: 1em;
    border-radius: 25px;
    height: 5em;
    border: 1px solid black;
    font-size: 1em;
    padding-left: 1em;
}


fieldset p {
    font-size: 1.3em;
}

fieldset label {
    font-family: serif, Arsenal, Optima, "Gill Sans", sans-serif;
    font-size: 1.5em;
    margin-right: 0em;
    margin-left: 0em;
    display:inline-block;
    margin-bottom: 1em;
}

textarea {
    border-radius: 25px;
    min-width: 77%;
    margin-left: 5em;
    height: 5em;
    font-size: 1em;
    padding: 1em 0em 1em 1em;
    border: 1px solid black;
}

#contact p#comments {
    font-size: 1.5em;
}

fieldset button {
    display: block;
    font-family: Optima, Arsenal, "Gill Sans", sans-serif;
    font-size: 2em;
    padding: .32em;
    margin-top: .5em;
    margin-bottom: 0em;
    margin-left: 0em;
    border-radius: 15px;
    background-image: radial-gradient(rgb(215, 218, 221) 64%, darkslategray 98%);
    color: darkolivegreen;
    border: 3px solid darkslategray;
}

.siterow, .siterow2 {
    display: flex;
}

.group2 {
    display: flex;
    flex-direction:column;
}

#home footer {
    width: 100vw;
    border-top: 12px solid black;
    /*border-left: 25px solid black;
    border-right: 25px solid black;*/
    z-index: 1000;
    background-color: rgb(47, 79, 79, .64);
    /*color: #f2dabd;*/
    color: white;
    clear: both;
    position: absolute;
    top: 66%;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
    padding: 0;
    
}

#about footer, #contact footer, #gallery footer {
    position: relative;
    background-color: rgb(47, 79, 79, .64);
    color: white;
    height: auto;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 1em;
    margin-bottom: 0em;
    border-top: 15px solid black;
}

.footersection1 {
    padding-bottom: 0;
    margin-bottom: 0;
    
}

footer .footersection1 a {
    /*color: #f2dabd;*/
    color: white;
    font-size: 1.8em;
    text-decoration: none;
}

footer .footersection1 a:hover {
    text-shadow: -1.5px 0 #333333, 0 1.5px #333333, 1.5px 0 #333333, 0 -1.5px #333333;
}

footer .footersection1 ul {
    display: inline-block;
    width: 20.5%;
    margin-left: 1.8em;
}

footer li {
    margin-left: 1em;
    list-style: none;
    margin-bottom: 1.5em;
    margin-top: 1em
}

footer .copyrightinfo {
    display: block;
    margin-top: 0em;
    margin-bottom: .25em;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.25em;
    background-color: black;
    text-align: center;
    padding: 0;
    padding-top: .25em;
    padding-bottom: .25em;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    position: relative;
    z-index: 3000;
}

.footersection2 {
    margin-top: 0;
    padding: 0;
}

footer .footersection2 nav.nav2 {
    display:flex;
    flex: auto;
    justify-content:center;
    width: 94.8%;
    position: relative;
    top: 0em;
    left: 0em;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    border: 2px solid black;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}

footer .footersection2 nav.nav2 ul a:hover {
    color: #333333;
    text-shadow: -1px 0 #333333, 0 1px #333333, 1px 0 #333333, 0 -1px #333333;
}

footer .footersection2 nav.nav2 ul {
    display:inline-flexbox;
    padding: 0;
    
}

footer .footersection2 nav.nav2 ul.nav2ul1 {
    /*margin-left: 5%;
    margin-right: 10%;*/
    border-top: none;
    border-bottom: none;
       
}

footer .footersection2 nav.nav2 ul.nav2ul2 {
    /*margin-left: 12.5%;
    margin-right: 2em;*/
    border-top: none;
    border-bottom: none;  
}

footer .footersection2 nav.nav2 ul li {
    font-family: Optima, Arsenal, "Gill Sans", sans-serif;
    font-size: 1.6em;
    padding: 0;
    margin: 0 3em 0 3em;
    font-weight: bolder;   
}

@media screen and (max-width: 1600px) {

    /*footer .footersection2 nav.nav2 ul.nav2ul1 {
        margin-left: 10%;
        margin-right: 10%;
        border-top: none;
        border-bottom: none;
           
    }
    
    #about footer .footersection2 nav.nav2 ul.nav2ul1, #contact footer .footersection2 nav.nav2 ul.nav2ul1, #gallery footer .footersection2 nav.nav2 ul.nav2ul1 {
        margin-left: 10%;
        margin-right: 10%;
        border-top: none;
        border-bottom: none;
    }
    
    footer .footersection2 nav.nav2 ul.nav2ul2 {
        margin-left: 2em;
        margin-right: 2em;
        border-top: none;
        border-bottom: none;  
    }
    
    #about footer .footersection2 nav.nav2 ul.nav2ul2, #contact footer .footersection2 nav.nav2 ul.nav2ul2, #gallery footer .footersection2 nav.nav2 ul.nav2ul2 {
        margin-left: 10%;
        margin-right: 5%;
        border-top: none;
        border-bottom: none;
        
    }*/
    
    /*footer .footersection2 nav.nav2 ul li {
        font-family: Optima, Arsenal, "Gill Sans", sans-serif;
        font-size: 1em;
        padding: 0;
        margin: 0 2em 0 4em;
        font-weight: bolder; 
    }*/



}

@media screen and (max-width: 1300px) {
    
    h1#logo a {
        position: absolute;
        top: 0.25em;
        left: 1em;
        background-image: url(letter_images/logo_djcdesign.png);
        background-size:contain;
        background-repeat:no-repeat;
        z-index: 3000;
        width: 251.8px;
        height: 62.4px;
        text-indent: -3000em;
    }
    
    header nav {
        width: 512px;
        position: absolute;
        top: .25em;
        left: 18em;
        z-index: 505;
        padding: 0em 0em 0em 0;
        
    } 
    
    nav ul {
        margin-top: 1em;
        border-top: 5px solid #BFA288;
        border-bottom: 5px solid #BFA288;
        padding-top: .25em;
        padding-bottom: .25em;
        position: relative;
        padding-left: 0;
        padding-right: 0;
        width: 316px;
    }
    
    nav ul li.about {
        margin-left: 1.8em;
    }

    nav ul li {
        display: inline;
        font-size: 1.2em;
        margin-right: 1em;
        margin-left: 1em;
        font-family: Optima, Arsenal, "Gill Sans" sans-serif;
        
    }

    #home footer {
           width: 100vw;
           border-top: 5px solid black;
           /*border-left: 25px solid black;
           border-right: 25px solid black;*/
           z-index: 1000;
           background-color: rgb(47, 79, 79, .64);
           /*color: #f2dabd;*/
           color: white;
           clear: both;
           position: absolute;
           top: 64%;
           margin-right: 0;
           margin-left: 0;
           margin-bottom: 0;
           padding: 0;
           
       }

    footer .footersection1 ul {
        display: inline-block;
        width: 16%;
        margin-left: 1.8em;
    }

    footer .footersection1 a {
        /*color: #f2dabd;*/
        color: white;
        font-size: 1em;
        
    }  
    
    footer .footersection2 nav.nav2 {
        display:flex;
        flex: auto;
        justify-content:center;
        width: 95%;
        position: relative;
        top: -1em;
        left: 0em;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        border: 2px solid black;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    
    } 

    footer .footersection2 nav.nav2 ul li {
        font-family: Optima, Arsenal, "Gill Sans", sans-serif;
        font-size: 1.2em;
        padding: 0;
        margin: 0 4em 0 0em;
        font-weight: bolder;   
    }

    /*footer .footersection2 nav.nav2 ul.nav2ul1 li {
       
        border-top: none;
        border-bottom: none;
           
    }*/
    
    footer .footersection2 nav.nav2 ul.nav2ul2 {
        /*margin-left: 12.5%;
        margin-right: 2em;*/
        border-top: none;
        border-bottom: none;  
    }

    footer .copyrightinfo {
        display: block;
        margin-top: 0em;
        margin-bottom: .25em;
        width: 95.4%;
        margin-left: auto;
        margin-right: auto;
        font-size: 1em;
        background-color: black;
        text-align: center;
        padding: 0;
        padding-top: .25em;
        padding-bottom: .25em;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        position: relative;
        top: -1em;
        z-index: 3000;
    }
   
   #c {
           width: 42.3%;
           position: absolute;
           top: -3em;
           left: 14.8em;
           z-index: 50;
           opacity: 0;
           animation-name: capp;
           animation-duration: 1.5s;
           animation-delay: 2.5s;
           animation-fill-mode: forwards;
           animation-iteration-count: 1;
           animation-timing-function: ease-in-out;
           opacity: 0;
           z-index: 500;
           padding: 0;
       }
       
       #ct {
           width: 42.3%;
           position: absolute;
           top: -2em;
           left: 13.3em;
           animation-name: capp;
           animation-duration: 1.5s;
           animation-delay: 2.5s;
           animation-fill-mode: forwards;
           animation-iteration-count: 1;
           animation-timing-function: ease-in-out;
           opacity: 0;
           padding: 0;
           
       }
       
       @keyframes capp {
           0% { opacity: 0; }
           100% { opacity: 1; }
       }
       
       #d { 
           width: 14.4%;
           position:absolute;
           top: 11em;
           left: 22em;
           z-index: 50;
           animation-name: dapp;
           animation-duration: 1.5s;
           animation-delay: 1.5s;
           animation-fill-mode: forwards;
           animation-iteration-count: 1;
           animation-timing-function: ease-in-out;
           opacity: 0;
           z-index: 150;
           padding: 0;
       }
       
       @keyframes dapp {
           0% { opacity: 0; }
           100% { opacity: 1; }
       }
       
       #dt {
           width: 24%;
           position:absolute;
           top: 5.4em;
           left: 15.6em;
           animation-name: westward1;
           animation-duration: 1.5s;
           animation-delay: 1.5s;
           animation-fill-mode: forwards;
           animation-iteration-count: 1;
           animation-timing-function: ease-in-out;
           z-index: 105;
           border-top-right-radius: 50%;
           padding: 0;
           opacity: 0;
       }
       
       @keyframes westward1 {
           0% { opacity: 0; }
           100% { opacity: 1; }
       }
       
       #j {
           width: 8%;
           position:absolute;
           top: 11.8em;
           left: 35.5em;
           z-index: 50;
           animation-name: japp;
           animation-duration: 1.5s;
           animation-delay: 2s;
           animation-fill-mode: forwards;
           animation-iteration-count: 1;
           animation-timing-function: ease-in-out;
           opacity: 0;
           z-index: 500;
           padding: 0;
       }
       
       @keyframes japp {
           0% { opacity: 0; }
           100% { opacity: 1; }
       }
       #jt {
           width: 24%;
           position: absolute;
           top: 11em;
           left: 25em;
           z-index: -3;
           margin-bottom: 0;
           animation-name: northward1;
           animation-duration: 1.5s;
           animation-delay: 2s;
           animation-fill-mode: forwards;
           animation-iteration-count: 1;
           animation-timing-function: ease-in-out;
           z-index: 110;
           opacity: 0;
           border-bottom-right-radius: 50%;
           padding: 0;
       }
       
       @keyframes northward1 {
           0% { opacity: 0; }
           100% { opacity: .64; }
       }
       
       #e {
           width: 15.3%;
           position:absolute;
           top: 8.3em;
           left: 44.5em;
           z-index: 10;
           animation-name: eapp;
           animation-duration: 1.5s;
           animation-delay: 2.5s;
           animation-fill-mode: forwards;
           animation-iteration-count: 1;
           animation-timing-function: ease-in-out;
           opacity: 0;
           z-index: 500;
           padding: 0;
       }
       
       @keyframes eapp {
           0% { opacity: 0; }
           100% { opacity: 1; }
       }
       
       #et {
           width: 17.9%;
           position:absolute;
           top: 3.6em;
           left: 43.4em;
           animation-name: eastward1;
           animation-duration: 1.5s;
           animation-delay: 2.5s;
           animation-fill-mode: forwards;
           animation-iteration-count: 1;
           animation-timing-function: ease-in-out;
           border-top-left-radius: 50%;
           padding: 0;
           opacity: 0;
       }
       
       @keyframes eastward1 {
           0% { opacity: 0; }
           100% { opacity: 1; }
       }
       
       #home #dblug {
           min-width: 57.2%;
           height: 150px;
           background-color: #377D8C;
           position: absolute;
           top: 4.5em;
           left: 0;
           opacity: 0;
           z-index: -1;
           animation-name: eastward2;
           animation-duration: 1.5s;
           animation-delay: .5s;
           animation-fill-mode: forwards;
           animation-iteration-count: 1;
           animation-timing-function: ease-in-out;
           z-index:100;
           border-top-left-radius: 25%;
           padding: 0;
           transform: scale(1);
           
       }
       
       @keyframes eastward2 {
           0% { opacity: 0; }
           100% { opacity: .64; }
       }
       
        #lblug_t {
            width: 20%;
            height: 600px;
            position: absolute;
            left: 38.2em;
            top: -5em;
            opacity: 0;
            animation-name: southward1;
            animation-duration: 1.5s;
            animation-delay: 1s;
            animation-fill-mode: forwards;
            animation-iteration-count: 1;
            animation-timing-function: ease-in-out;
            z-index: 199;
            padding: 0;
            border-bottom-right-radius: 50%;
            
        }
        
        @keyframes southward1 {
           0% { opacity: 0; }
           100% { opacity: 0.75; }
        } 

   }
   

@media screen and (max-width: 880px) {

    h1#logo a {
        position: absolute;
        top: 0.25em;
        left: 1em;
        background-image: url(letter_images/logo_djcdesign.png);
        background-size:contain;
        background-repeat:no-repeat;
        z-index: 3000;
        width: 210px;
        height: 52px;
        text-indent: -3000em;
    }

/*h1#logo {
    margin: 0 2em 1em 0;
    position: absolute;
    top: 0.5em;
    left: 2em; 

    }*/

    #logo img {
        width: 200px;
    }

    header nav  {
        width: 360px;
        position: absolute;
        top: 3em;
        left: 2.5em;
        z-index: 505;
        padding: 0em 0em 1em 0;
        
    } 

    nav ul {
        margin-top: 1em;
        border-top: 5px solid #BFA288;
        border-bottom: 5px solid #BFA288;
        padding-top: .25em;
        padding-bottom: .25em;
        position: relative;
        padding-left: 0;
        padding-right: 0;
        width: 383px;
    }

    nav ul li.about {
        margin-left: 2.3em;
    }

    nav ul li {
        display: inline;
        font-size: 1.2em;
        margin-right: 2.2em;
        font-family: Optima, Arsenal, "Gill Sans" sans-serif;
        
    }

    #home footer {
        width: 100vw;
        border-top: 5px solid black;
        /*border-left: 25px solid black;
        border-right: 25px solid black;*/
        z-index: 1000;
        background-color: rgb(47, 79, 79, .64);
        /*color: #f2dabd;*/
        color: white;
        clear: both;
        position: absolute;
        top: 54%;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 0;
        padding: 0;
        
    }

    footer .footersection1 a {
        /*color: #f2dabd;*/
        color: white;
        font-size: 1.2em;
    }

    footer .footersection1 ul {
        display: inline-block;
        padding-right: 1em;
        margin-right: 1em;
        width: 25%;
    }

    footer .footersection2 nav.nav2 ul li {
        font-family: Optima, Arsenal, "Gill Sans", sans-serif;
        font-size: 1.2em;
        padding: 0;
        margin: 0 3em 0 3em;
        font-weight: bolder;
        
    }

    .wrapper {
        /*left: 10%;
        right: 10%;
        top: -2em;
        position: absolute;*/
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        background-color: ghostwhite;
        margin-top: 7.2em;
        padding: 0em 0em 2em 0em;
        box-shadow: 8px 18px 15px 8px rgb(47, 79, 79, .36);
        margin-bottom: 0;
    }

    .binitials {
        font-family: serif;
        margin-right: .25em;
        font-size: .8em;
        /*-webkit-text-stroke: 1.5px darkslategray;*/
        -webkit-text-stroke: .8px darkslategray;
        color: transparent;
        text-shadow: 0px 4px rgb(47, 79, 79, .36);
        /*color:darkslategray;
        text-shadow: 0px 4px 3.5px rgb(47, 79, 79, .36);*/   
    }
    
    h1 span.design {
        font-style: italic;
        font-family: serif;
        letter-spacing: 1px;
        font-size: .8em;
        display: inline-block;
        transform: skewX(-15deg);
        -webkit-text-stroke: .8px darkslategray;
        color: transparent;
        text-shadow: 0px 2px rgb(47, 79, 79, .33);   
    }

    #home h2 {
        position: relative;
        width: 350px;
        font-family: Optima, Arsenal, "Gill Sans", sans-serif;
        left: 1em;
        top: 11em;
        font-size: .8em;
        color: #f2dabd;
        z-index: 200;
        animation-name: slogapp;
        animation-duration: 1.5s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        animation-timing-function: ease-in-out;
        opacity: 0;
        z-index: 510;
        padding: 0;
    }
    
    @keyframes slogapp {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }

    #c {
        width: 30%;
        position: absolute;
        top: 2em;
        left: 1em;
        z-index: 50;
        opacity: 0;
        animation-name: capp;
        animation-duration: 1.5s;
        animation-delay: 2.5s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        animation-timing-function: ease-in-out;
        opacity: 0;
        z-index: 500;
        padding: 0;
    }
    
    #ct {
        width: 30%;
        position: absolute;
        top: 2.5em;
        left: 0.25em;
        animation-name: capp;
        animation-duration: 1.5s;
        animation-delay: 2.5s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        animation-timing-function: ease-in-out;
        opacity: 0;
        padding: 0;
        
    }
    
    @keyframes capp {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }
    
    #d { 
        width: 8%;
        position:absolute;
        top: 9em;
        left: 8.25em;
        z-index: 50;
        animation-name: dapp;
        animation-duration: 1.5s;
        animation-delay: 1.5s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        animation-timing-function: ease-in-out;
        opacity: 0;
        z-index: 150;
        padding: 0;
    }
    
    @keyframes dapp {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }
    
    #dt {
        width: 13%;
        position:absolute;
        top: 6em;
        left: 4.75em;
        animation-name: westward1;
        animation-duration: 1.5s;
        animation-delay: 1.5s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        animation-timing-function: ease-in-out;
        z-index: 105;
        border-top-right-radius: 50%;
        padding: 0;
        opacity: 0;
    }
    
    @keyframes westward1 {
        0% { opacity: 0; }
	    100% { opacity: 1; }
    }
    
    #j {
        width: 4%;
        position:absolute;
        top: 10em;
        left: 15.5em;
        z-index: 50;
        animation-name: japp;
        animation-duration: 1.5s;
        animation-delay: 2s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        animation-timing-function: ease-in-out;
        opacity: 0;
        z-index: 500;
        padding: 0;
    }
    
    @keyframes japp {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }
    #jt {
        width: 13%;
        position: absolute;
        top: 9.5em;
        left: 9.5em;
        z-index: -3;
        margin-bottom: 0;
        animation-name: northward1;
        animation-duration: 1.5s;
        animation-delay: 2s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        animation-timing-function: ease-in-out;
        z-index: 110;
        opacity: 0;
        border-bottom-right-radius: 50%;
        padding: 0;
    }
    
    @keyframes northward1 {
        0% { opacity: 0; }
        100% { opacity: .64; }
    }
    
    #e {
        width: 10%;
        position:absolute;
        top: 10em;
        left: 22.5em;
        z-index: 10;
        animation-name: eapp;
        animation-duration: 1.5s;
        animation-delay: 2.5s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        animation-timing-function: ease-in-out;
        opacity: 0;
        z-index: 500;
        padding: 0;
    }
    
    @keyframes eapp {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }
    
    #et {
        width: 12%;
        position:absolute;
        top: 7em;
        left: 21.5em;
        animation-name: eastward1;
        animation-duration: 1.5s;
        animation-delay: 2.5s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        animation-timing-function: ease-in-out;
        border-top-left-radius: 50%;
        padding: 0;
        opacity: 0;
    }
    
    @keyframes eastward1 {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }
    
    #home #dblug {
        width: 308px;
        height: 10.5%;
        background-color: #377D8C;
        position: absolute;
        top: 7.2em;
        left: 0;
        opacity: 0;
        z-index: -1;
        animation-name: eastward2;
        animation-duration: 1.5s;
        animation-delay: .5s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        animation-timing-function: ease-in-out;
        z-index:100;
        border-top-left-radius: 25%;
        padding: 0;
        transform: scale(1);
        
    }
    
    @keyframes eastward2 {
        0% { opacity: 0; }
        100% { opacity: .64; }
    }
    
     #lblug_t {
         width: 10%;
         height: 407px;
         position: absolute;
         left: 17.25em;
         top: -5em;
         opacity: 0;
         animation-name: southward1;
         animation-duration: 1.5s;
         animation-delay: 1s;
         animation-fill-mode: forwards;
         animation-iteration-count: 1;
         animation-timing-function: ease-in-out;
         z-index: 199;
         padding: 0;
         border-bottom-right-radius: 50%;
         
     }
     
     @keyframes southward1 {
        0% { opacity: 0; }
        100% { opacity: 0.75; }
     } 

}

@media screen and (max-width: 680px) {

    #home footer {
        width: 100vw;
        border-top: 5px solid black;
        /*border-left: 25px solid black;
        border-right: 25px solid black;*/
        z-index: 1000;
        background-color: rgb(47, 79, 79, .64);
        /*color: #f2dabd;*/
        color: white;
        clear: both;
        position: absolute;
        top: 42%;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 0;
        padding: 0;
        
    }

    footer .footersection1 ul {
        display: inline-block;
        padding-right: 1em;
        margin-right: 1em;
        width: 25%;
    }

    footer .footersection2 nav.nav2 ul.nav2ul1 {
        margin-left: -2em;
        margin-right: 5%;
        border-top: none;
        border-bottom: none;
           
    }
    
    #about footer .footersection2 nav.nav2 ul.nav2ul1, #contact footer .footersection2 nav.nav2 ul.nav2ul1, #gallery footer .footersection2 nav.nav2 ul.nav2ul1 {
        margin-left: -2em;
        margin-right: 5%;
        border-top: none;
        border-bottom: none;
    }
    
    footer .footersection2 nav.nav2 ul.nav2ul2 {
        margin-left: 0;
        margin-right: 2em;
        border-top: none;
        border-bottom: none;  
    }
    
    #about footer .footersection2 nav.nav2 ul.nav2ul2, #contact footer .footersection2 nav.nav2 ul.nav2ul2, #gallery footer .footersection2 nav.nav2 ul.nav2ul2 {
        margin-left: 0;
        margin-right: 5%;
        border-top: none;
        border-bottom: none;
        
    }
    
    footer .footersection2 nav.nav2 ul li {
        font-family: Optima, Arsenal, "Gill Sans", sans-serif;
        font-size: 1.2em;
        padding: 0;
        margin: 0 2em 0 4em;
        font-weight: bolder; 
    }
    
    footer .footersection2 nav.nav2 ul:first-child {
        
        margin-left: 1.8em;
       
    }

    #about footer .footersection2 nav.nav2 ul:first-child, #gallery footer .footersection2 nav.nav2 ul:first-child, #contact footer .footersection2 nav.nav2 ul:first-child {
        
        margin-left: 1.8em;
       
    }


}

